<ion-header>
	<ion-navbar>
 		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Module detail</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<div *ngIf="module">
		<ion-list>
			<ion-item>
				<ion-label floating>Id</ion-label>
				<ion-input type="text" readonly value="{{module.id}}"></ion-input>
			</ion-item>
			
			<ion-item>
				<ion-label floating>Name</ion-label>
				<ion-input type="text" [(ngModel)]="module.name"></ion-input>
			</ion-item>
			
			<ion-item>
				<ion-label floating>Type</ion-label>
				<ion-input type="text" readonly value="{{module.type}}"></ion-input>
			</ion-item>
			
			<ion-item>
				<ion-label floating>Host</ion-label>
				<ion-input type="text" readonly value="{{module.host}}:{{module.port}}"></ion-input>
			</ion-item>
			
			<ion-list-header>Nodes</ion-list-header>
			<button ion-item *ngFor="let node of module.nodes" (click)="onNodeSelect(node)">{{node.id}}</button> 
		</ion-list>
	</div>
</ion-content>
